* {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(20, 70, 20);
    margin: auto;
}

table{
    border: 5px solid darkred;
    padding: 20px 50PX;
    border-spacing: 15px;
    background-color:rgb(145, 145, 145);
}

td{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    width: 50px;
    height: 40PX;
    border: 2px solid darkred;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color:rgb(230, 230, 230);
}