* {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(30, 50, 70);
    margin: auto;
}

table{
    border: 2px solid grey;
    padding: 50px 30px 30px 30px;
    border-spacing: 10px;
    background-color:rgb(217, 228, 241);
}

td{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    width: 40px;
    height: 30PX;
    border: 1px solid grey;
    box-shadow: 0 0 2px rgb(165, 163, 163);
    text-shadow: 0 0 2px white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background:linear-gradient(rgb(247, 250, 255), rgb(235, 240, 250));
    /* background-color:rgb(220, 231, 243); */
}

td:hover{
    text-shadow: 0 0 3px thistle;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    background: grey;
}
